/* to hide scroll bar use this */
body::-webkit-scrollbar{
  display: none;
}
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body{
  width: 100%;
  height: auto;
  background-color: bisque;
}
#fixedSticker{
  width: 100%;
  height: 100px;
  background-color: cornflowerblue;
  position: fixed;
  left: 0;
  top: 0;
}
#headerNav{
  display: flex;
  justify-content: end;
  line-height: 100px;
}
.headerAnchors{
  font-size: 24px;
  color: bisque;
  padding: 0 10px;
}
#fullScreen{
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.template.net/wp-content/uploads/2016/02/05092615/Download-Gold-Background-AI-Format.jpg);
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5px;
  z-index: -1;
}
#descriptionAboutMe{
  text-align: center;
  color: navy;
  flex: 1;
  font-family: "Lobster", Arial;
}
#myName{
  font-size: 28px;
  text-shadow: 1px 1px 5px white;
  text-decoration: underline;
}
#as_a{
  font-size: 24px;
}
#projectsLocated{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
#tagLine{
  flex: 100%;
  text-align: center;
  font-family: "Lobster";
  font-size: 26px;
  color:palevioletred;
  text-shadow: 1px 1px 2px blue;
}
#projectSection{
  flex: 100%;
}
.projects{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px dashed black;
}
.projects:hover{
  width: 300px;
  height: 300px;
  border-radius: 0;
  border: 1px solid black;
}
#otherDetailOfMe{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  line-height: 100px;
  font-size: 24px;
  background-color: blue;
  color: white;
}