/* to hide scroll bar use this */
body::-webkit-scrollbar{
  display: none;
}
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body{
  width: 100%;
  height: auto;
  background-color: bisque;
}
#fixedSticker{
  width: 100%;
  height: 100px;
  background-color: cornflowerblue;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
#headerNav{
  display: flex;
  line-height: 100px;
}
.headerAnchors{
  flex-basis: 10%;
  font-size: 24px;
  color: bisque;
  padding: 0 10px;
  border: 1px solid black;
}
#fullScreen{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, bisque, white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5px;
}
#descriptionAboutMe{
  text-align: center;
  color: navy;
  flex: 1;
  font-family: "Lobster", Arial;
}
#myName{
  font-size: 28px;
  text-shadow: 1px 1px 5px white;
  text-decoration: underline;
}
#as_a{
  font-size: 24px;
}
#projectsLocated{
  width: 100vw;
  height: 700px;
  overflow-y: scroll;
}
#tagLine{
  text-align: center;
  font-family: "Lobster";
  font-size: 26px;
  color:palevioletred;
  text-shadow: 1px 1px 2px blue;
}
#projectContainer{
  border-top: 1px solid black;
}
.projectSectionHeading{
  font-style: italic;
  color: navy;
}
.projectSectionHeading::first-letter{
  text-transform: uppercase;
  font-size: 28px;
}
.projectSection{
  display: flex;
  flex-direction: row;
}
.projects{
  flex-basis: 10%;
  width: 20%;
  height: 20%;
  clip-path: circle(50% at center); /* clip in circle shape*/
  border: 1px solid black;
}
.anchorProjects{
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
}
.imageProjects{
  width: 100%;
  height: 100%;
}
figcaption{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  background-color: palegoldenrod;
  display: none;
}
.projects:hover{
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  clip-path: inset(0); /* clip in rect shape*/
}
.projects:hover figcaption{
  display: block;
}
#otherDetailOfMe{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  line-height: 100px;
  font-size: 24px;
  background-color: cornflowerblue;
  color: white;
}
/* use this for smaller screen*/
@media screen and (max-width: 992px) {
  
}
